* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Fredoka One", cursive;
  background-color: #718093;
}
button {
  font-family: "Fredoka One", cursive;
  font-weight: lighter;
  background-color: #f7d794;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/* To make all container centered */
.start-container,
.info-container,
.quiz-container,
.result-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Show Content */
.start-container.startShow,
.quiz-container.quizShow,
.info-container.infoShow,
.result-container.resultShow {
  pointer-events: auto;
  opacity: 1;
  z-index: 5;
}
/* Box shadow */
.info-container,
.quiz-content,
.result-container,
.start-container button {
  box-shadow: 0 2px 4px black;
}
/* Start */
.start-container {
  opacity: 0;
  pointer-events: none;
}
.start-container button,
.quiz-container button {
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin: 1rem;
  font-size: 2rem;
}
.start-container.startHide {
  opacity: 0;
  pointer-events: none;
}
/* Info */
.info-container {
  background-color: #63cdda;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}
.info-container h3 {
  font-weight: lighter;
}
.info-container header {
  padding: 1rem 0;
  border-bottom: 2px solid rgb(56, 56, 56);
  padding: 1rem;
  font-size: 1.4rem;
}
.info-container .info-list {
  padding: 1rem;
}
.info-list p {
  margin: 0.5rem 0;
  font-size: 1.3rem;
}
.info-list {
  border-bottom: 2px solid rgb(56, 56, 56);
}
.info-container footer {
  padding: 1rem;
  float: right;
}
.info-container footer button,
.result-container footer button {
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  border: 2px solid transparent;
}
.info-container .exit-button,
.result-container .quitQuiz {
  background: transparent;
  border: 2px solid #f7d794;
}
.info-container .exit-button:hover,
.quitQuiz:hover {
  background-color: #f7d794;
}
/* Timer */
.timer {
  position: fixed;
  top: 0;
  opacity: 0;
}
.timer.timerShow {
  opacity: 1;
}
.score,
.timer {
  display: flex;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}
.score h2,
.timer h2 {
  border: 1px solid black;
  border-top: none;
  padding: 0.5rem 1rem;
  background-color: #f7d794;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.2rem;
}
h1,
h2 {
  font-weight: 100;
}
.quiz-content header,
.question,
.choose-list {
  margin: 1rem 0;
}
/* Quiz */
.quiz-container {
  width: 100%;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}
.quiz-content {
  padding: 1rem;
  width: 60%;
  border-radius: 5px;
  background-color: #63cdda;
  margin: 0 auto;
}
.choose-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}
.choose-list div {
  border-radius: 5px;
  width: 40%;
  margin: 0.2rem 0;
  padding: 0.5rem;
  background-color: white;
  border: 2px solid rgb(201, 201, 201);
}
.choose-list div:hover {
  cursor: pointer;
  background-color: #dddddd;
}
.options.wrongAnswer {
  border: 2px solid red;
  background-color: rgb(255, 123, 123);
}
.options.correctAnswer {
  border: 2px solid green;
  background-color: rgb(129, 255, 129);
}
.options.disabled {
  pointer-events: none;
}

button:hover {
  background-color: #ffcf67;
}
.true {
  background-color: #05c46b;
}
.false {
  background-color: #db4c4c;
}
.true:hover {
  background-color: #0be881;
}
.false:hover {
  background-color: #ff6767;
}
.number-question {
  pointer-events: none;
}
.quiz-container footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.quiz-container footer p {
  font-size: 1.5rem;
  border: 3px solid black;
  padding: 3px 5px;
  border-radius: 3px;
}
.score h2 {
  border: none;
}
/* Result */
.result-container {
  background-color: #63cdda;
  font-weight: lighter;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
}
.result-container .fa-crown {
  font-size: 900%;
  padding: 2rem 9rem;
  color: #718093;
}
.result-container h3 {
  font-size: 2rem;
  margin: 1rem 0;
}
.result-container p {
  font-size: 1.5rem;
}
.result-container footer {
  margin: 1rem 0;
}
